@import "./variables.scss";

%title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

%input {
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 143%;
  color: $black;
  display: flex;
  align-items: center;
  background: $white;
  border: 1px solid $gray300;
  border-radius: 8px;
  padding: 8px 12px;
  transition: $transition;

  &::-webkit-input-placeholder {
    color: $gray500;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover,
  &:focus {
    border: 1px solid #5e96fc;
    transition: $transition;
  }
}

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue500;
  border-radius: 8px;
  height: 40px;
  color: $white;
  width: 100%;
  transition: $transition;
  transform: scale(1);
  
  &:hover {
    transition: $transition;
    background-color: $blue400;
  }
  
  &:active {
    transition: $transition;
    background-color: $blue600;
  }
}

%text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: $black;
}

%content {
  display: flex;
  flex-direction: column;
  background: $white;
  border: 1px solid $gray200;
  border-radius: 12px;
  padding: 24px;
  transition: $transition;
  overflow: hidden;

  &.loading {
    @extend %loading;
  }
}

%errorHeading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $black;
}

%loading {
  animation: shimmer 2s 0.2s infinite;
  // background-image: linear-gradient(90deg,rgb(35, 33, 52) 35%, rgb(183, 214, 255) 30%,  rgb(35, 33, 52) 35%);
  background-image: linear-gradient(90deg,  $gray200 40%, $white, $gray200  70%,);
  background-size: 300%;
}

%pressed {
  transform: scale(1);
  transition: $transition;
  
  &:active {
    transform: scale(0.85);
    transition: $transition;
  }
}

@keyframes shimmer {
  from {
    background-position: 120%, 120%;
  }
  to {
    background-position: 0, 0;
  }
}
