@import "./variables.scss";

%title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

%input {
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 143%;
  color: $black;
  display: flex;
  align-items: center;
  background: $white;
  border: 1px solid $gray300;
  border-radius: 8px;
  padding: 8px 12px;
  transition: $transition;

  &::-webkit-input-placeholder {
    color: $gray500;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover,
  &:focus {
    border: 1px solid #5e96fc;
    transition: $transition;
  }
}

%button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue500;
  border-radius: 8px;
  height: 40px;
  color: $white;
  width: 100%;
  transition: $transition;

  &:hover {
    transition: $transition;
    background-color: $blue400;
  }

  &:active {
    transition: $transition;
    background-color: $blue600;
  }
}

%text {
  font-family: $Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: $black;
}

%content {
  display: flex;
  flex-direction: column;
  background: $white;
  border: 1px solid $gray200;
  border-radius: 12px;
  padding: 24px;
  transition: $transition;
  overflow: hidden;

  &.loading {
    transition: $transition;
    background: greenyellow;
  }
}