@import "./resources/variables.scss";
@import "./resources/templates.scss";

.filters {
  background: $white;
  border: 1px solid $gray200;
  border-radius: 12px;
  padding: 20px;
  height: 360px;
  flex: 0 1 315px;
  min-width: 280px;

  @media (max-width: 992px) {
    display: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
  }

  &__reset {
    font-weight: 500;
    font-size: 14px;
    line-height: 104%;
    display: flex;
    align-items: center;
    color: $gray500;
    transition: $transition;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: inline-block;
      height: 16px;
    }

    &:hover {
      cursor: pointer;
      transition: $transition;
      color: $blue400;

      line {
        transition: $transition;
        stroke: $blue400;
      }
    }

    &:active {
      cursor: pointer;
      transition: $transition;
      color: $blue500;

      line {
        transition: $transition;
        stroke: $blue500;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    line {
      transition: $transition;
    }
  }

  &__title {
    @extend %title;
  }

  &__button {
    @media (max-width: 992px) {
        font-size: 16px;
    }
  }
}

.industry {
  &__title {
    @extend %title;
    font-size: 16px;
    margin-bottom: 6px;
  }

  &__select {
    margin-bottom: 19px;
  }
}

.salary {
  margin-bottom: 20px;

  &__title {
    @extend %title;
    margin-bottom: 8px;
    font-size: 16px;
  }
}
