@import "./resources/variables.scss";
@import "./resources/templates.scss";

.menu {
  position: fixed;

  @media (max-width: 992px) {
    display: flex;
  }

  &__body {
    width: 100%;
    padding-bottom: 20px;
    position: fixed;
    background-color: $gray100;
    border-radius: 32px 32px 0 0;
    border: 1px solid $gray200;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 380px;
    box-shadow: $shadow;
    transform: translateY(150%);
    transition: $transition;
    z-index: 150;

    &.active {
      transform: translateY(0%);
      transition: $transition;
    }
  }

  &__button {
    display: none;
    justify-content: space-between;
    padding: 10px !important;
    align-items: center;
    background-color: $white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    padding: 5px;
    width: 120px;
    color: $black;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    border: 1px solid $gray200;
    @extend %button;

    @media (max-width: 992px) {
      display: flex;
    }

    svg {
      fill: $blue500;
    }

    &:hover,
    &:active {
      svg {
        fill: $white;
        transition: $transition;
      }
    }
  }

  &__filters {
    display: block;
    width: 100%;
    max-width: 755px;
    padding: 20px;
    margin: 0px auto;
    border-color: transparent;
    background-color: $gray100;
    border-radius: 32px 32px 0 0;
  }
}
