@import "./resources/nullstyle.scss";
@import "./resources/variables.scss";

.container {
  margin: 0px auto;
  max-width: 1116px;
  box-sizing: content-box;
  padding: 0 20px;

  @media (max-width: 768px) {
    overflow: inherit;
  }

  @media (max-width: 550px) {
    padding: 0 10px;
  }
}

.button {
  @extend %button;
}
