@import "./resoures/nullstyle.scss";
@import "./resoures/variables.scss";

.container {
  margin: 0px auto;
  max-width: 1116px;
  box-sizing: content-box;
  padding: 0 20px;
  overflow:hidden;
}

.button {
  @extend %button;
}
