@import "./resources/variables.scss";
@import "./resources/templates.scss";

.header {
  background-color: $white;
  position: relative;
  z-index: 100;

  @media (max-width: 992px) {
    position: fixed;
    box-shadow: $shadow2;
    width: 100%;
  }

  &__container {
    position: relative;

    @media (max-width: 992px) {
      position: sticky;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 84px;
    position: relative;

    @media (max-width: 992px) {
      justify-content: flex-end;
      position: initial;
      height: 60px;
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 992px) {
      left: 20px;
    }

    @media (max-width: 550px) {
      left: 10px;
    }

    a {
      height: 100%;
      display: inline-block;
    }
  }

  &__links {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
  }

  &__link {
    @extend %text;

    @media (max-width: 992px) {
      flex-grow: 0;
    }
  }

  &__navigation {
    @media (max-width: 992px) {
      &.active {
        transition: $transition;
        transform: translateX(0%);
      }
    }
  }

  &__burger {
    height: 30px;
    display: none !important;

    @media (max-width: 992px) {
      display: flex !important;
    }
  }
}
