@import "./resources/variables.scss";
@import "./resources/templates.scss";

.jobs {
  @extend %pagePadding;

  &__body {
    display: flex;
    column-gap: 26px;
    justify-content: space-between;

    @media (max-width: 992px) {
      justify-content: center;
    }

    @media (max-width: 992px) {
      padding-top: 60px;
    }
  }
}
