@import "./resoures/variables.scss";

.navigation {
  &__links {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
  }

  &__link {
    font-family: "Inter";
    font-size: 16px;
    line-height: 20px;
    color: $black;
    transition: $transition;

    &.active {
      color: $blue500;
      transition: $transition;
    }
  }
}
