@import "./resoures/variables.scss";
@import "./resoures/templates.scss";

.search {
  position: relative;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-75%);
    width: 16px;
    height: 16px;
    background: url("../public/search.svg") center no-repeat;
  }

  &__input {
    @extend %input;
    padding-left: 36px;
    height: 48px;
  }

  &__button {
    width: 83px;
    height: 32px;
    position: absolute;
    right: 12px;
    top: 49%;
    transform: translateY(-60%);
  }
}
