@import "./resoures/variables.scss";

.select {
  width: 100%;
  height: 42px;
  font-size: 14px;
  line-height: 143%;
  color: $gray500;
  display: flex;
  align-items: center;
  background: $white;
  border: 1px solid $gray300;
  border-radius: 8px;
  padding: 8px 12px;
  position: relative;
  transition: $transition;

  &.selected {
    border: 1px solid $blue500;
  }

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
  }

  &.active {
    color: $black;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $blue500;
    transition: $transition;
  }

  &__icon {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);

    svg {
      fill: $gray500;
    }

    &.active {

      svg {
        fill: $blue500;
      }

      & > .select__svg {
        transform: rotate(180deg);
      }
    }
  }

  &__svg {
    color: $gray500;
    height: 25px;
  }

  &__menu {
    position: absolute;
    top: 50px;
    left: -1px;
    height: auto;
    max-height: 275px;
    width: 101%;
    background: $white;
    border-radius: 8px;
    order: 2;
    overflow: auto;
    display: none;
    padding-left: 4px;
    box-shadow: $shadow;
    
    &.active {
      display: block;
      z-index: 50;
      transition: $transition;

    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background-color: $white;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray500;
    }
  }

  &__option {
    padding: 0 8px;
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    color: $black;
    width: 100%;
    height: 36px;

    span {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background: $blue500;
      border-radius: 8px;
      color: $white;
    }
  }
}
