@import "./resoures/variables.scss";
@import "./resoures/templates.scss";

.vacancy {
  padding: $pagePadding;
  padding-bottom: 40px;

  &__container {
    max-width: 773px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    & > *:hover {
      box-shadow: none;
      cursor: auto;
    }
  }

  &__card {
    height: auto;
    row-gap: 10px !important;
  }

  &__title {
    color: $black !important;
    font-size: 28px !important;
    font-weight: 700 !important;
    span {
      overflow: auto;
      white-space: normal;
      line-height: 120%;
      letter-spacing: 0em;
    }
  }

  &__text {
    font-size: 20px !important;
    margin-bottom: 5px;
  }

  &__description {
    @extend %content;

    &.loading {
      @extend %loading;
      height: 500px;
    }

    & > *:first-child {
      &,
      & > * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    & > *:last-child {
      & > * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    br  br {
      display: none;
    }

    p {
      line-height: 140%;

      b {
        // margin-top: 20px;
        margin-bottom: 16px;
      }
    }

    b {
      display: inline-block;
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      color: $black;
      margin-bottom: 16px;
    }

    ul ~ p, ol ~ p {
      display: inline-block;
      line-height: 100%;
      color: $black;
    }

    ul, ol {
      margin-top: 16px;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }

      & > li {
        list-style: disc;
        margin-left: 20px;
        line-height: 140%;
      }
    }
  }
}
