@import "./resoures/variables.scss";
@import "./resoures/templates.scss";

.vacancies {
  width: 100%;
  max-width: 775px;
  display: flex;
  flex-direction: column;

  &__heading {
    @extend %errorHeading;

    @media (max-width: 480px) {
      font-size: 16px;
    }
  }
}
