@import "./resoures/variables.scss";
@import "./resoures/templates.scss";

.vacancy {
  @extend %content;
  row-gap: 12px;
  height: 138px;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow;
    transition: $transition;
  }


  &__description {
    display: flex;
    column-gap: 33px;
  }

  &__condition {
    @extend %text;

    &.salary {
      font-weight: 600;
      position: relative;

      &::before {
        content: "•";
        font-family: $Poppins;
        font-weight: 400;
        font-size: 20px;
        line-height: 105%;
        color: $gray600;
        position: absolute;
        right: -20px;
        top: 0%;
      }
    }
  }

  &__location {
    @extend %text;

    span {
      padding-left: 28px;
      background: url("../public/location.svg") left center no-repeat;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  color: $blue500;
  column-gap: 20px;
  position: relative;

  &__text {
    overflow: hidden;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 685px;
      height: 100%;
      letter-spacing: 0.02em;

      @media (max-width: 1160px) {
        max-width: 58vw;
      }

      @media (max-width: 1050px) {
        max-width: 55vw;
      }

      @media (max-width: 980px) {
        max-width: 50vw;
      }

      @media (max-width: 870px) {
        max-width: 45vw;
      }
    }
  }

  &__icon {
    width: 22px;
    height: 22px;
    fill: none;
    stroke: $gray500;
    transition: $transition;
    
    &:hover {
      stroke: $blue500;
      transition: $transition;
      cursor: pointer;
      stroke: $blue500;
    }
    
    &:active {
      transform: scale(.85);
      transition: $transition;
    }
    
    &.active {
      fill: $blue500;
      stroke: $blue500;
      transition: $transition;
    }
  }
}
